body {
  background-color: green;
  font-family: 'Trebuchet MS';
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}
button {
  background-color: goldenrod;
  color: green;
  padding: 10px 30px;
  font-size: 24px; 
  font-weight: bold;
  border: none;
  border-radius: 2px;
}